body{
 background-color:#4D6F8A;
 font-family: Optima, "Segoe UI", "Andale Mono", Sans-serif;
 overflow:auto;
}
a:visited,a:hover{
color:BLACK;
 text-decoration:underline;
}
a:link{
color:#5759BD;
 text-decoration:none;
}


h3{
 text-align:center;
}
h4{
 text-align:center;
}
h1{
 text-align:center;
}
img{
float:left;
}
